@import "tailwindcss";

body {
    background-image: url();
}

/* Footer */

footer.foot-carousel {
    background-color: rgb(43, 49, 52);
    color: #d1d1d1;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    padding: 25px 40px;
    border-top: 1px solid #2f3437;
    margin-top: 0;
}

.footer-carousel-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0 0 10px 0;
    color: #ffffff;
    text-decoration: none;
}

.footer-carousel-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-carousel-links a:hover {
    color: #00adee;
}

.footer-carousel-mid {
    border-top: 1px solid #2f3437;
    border-bottom: 1px solid #989c9e;
    margin: 10px 0;
    padding: 10px 0;
    text-transform: none;
    color: #c8c8c8;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 1.5;
}

.footer-carousel-bottom {
    margin-top: 10px;
    font-size: 10px;
    color: #aaa;
    letter-spacing: 0.12em;
}