*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(176, 211, 251);
}
#Banner{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
#three-1{
    width: 100%;
    height: 50vh;
    position: relative;
}
#navbar{
    width: 100vw;
    position: relative;
    height: 6vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
#nav a{
    padding-left: 3rem;
    font-size: 1rem;
}
.texto-sec-1{
    text-align: center;
    align-items: center;
}
h1{
    font-size: 3rem;
    margin: 10px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.texto-sec-1 p{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
}
h2{
    font-size: 2rem;
    margin: 10px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.text p{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
}
.footer-carousel-mid{
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}
.footer-carousel-bottom{
    font-family: 'Montserrat', sans-serif;
}
.lista{
    font-size: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}
.lista li{
    margin: 15px;
}
#info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}
#contador_animado{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column
}

footer.foot-carousel {
    background-color: rgb(43, 49, 52);
    color: #d1d1d1;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    padding: 25px 40px;
    border-top: 1px solid #2f3437;
    margin-top: 0;
}

.footer-carousel-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0 0 10px 0;
    color: #ffffff;
    text-decoration: none;
}

.footer-carousel-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-carousel-links a:hover {
    color: #00adee;
}

.footer-carousel-mid {
    border-top: 1px solid #2f3437;
    border-bottom: 1px solid #989c9e;
    margin: 10px 0;
    padding: 10px 0;
    text-transform: none;
    color: #c8c8c8;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 1.5;
}

.footer-carousel-bottom {
    margin-top: 10px;
    font-size: 10px;
    color: #aaa;
    letter-spacing: 0.12em;
}